@import "../../styles/variables";

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main {
  margin-top: 30px;
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.socialIcons {
  font-size: 40px;
  a {
    margin-right: 10px;
    opacity: 0.5;
    color: #dae1e7;
    &:hover {
      opacity: 1;
      color: #eee;
    }
  }
}

.heading {
  font-family: $display-font;
  font-weight: 500;
  font-size: 3.625rem;
  text-transform: capitalize;
}

footer {
  text-align: right;
}
