@import "../../styles/variables";
@import "../../styles/mixin";

.app {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1048px;
  padding-left: 24px;
  padding-right: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include media-breakpoint-down(sm) {
    align-items: center;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }
}

.jobTitle {
  font-size: 1.25rem;
  color: #444;
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}

.spacer {
  display: block;
  width: 1px;
  height: 1px;
  min-width: 1px;
  min-height: 1px;
  margin-left: calc(24px - 1px);
  margin-top: calc(24px - 1px);
  user-select: none;
}

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    color: #333;
    opacity: 0.4;
    transition: opacity 300ms;
    &:not(:first-of-type) {
      margin-left: 12px;
    }
    &:hover {
      opacity: 1;
    }
    a {
      color: inherit;
    }
    svg {
      color: inherit;
      font-size: 28px !important;
    }
  }
}

.avaContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 24px;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }
}

.avatar {
  height: 440px;
  width: 315px;
  background-image: url(https://res.cloudinary.com/flask-image/image/upload/c_fill,g_face,h_853,w_502/v1618155387/photo_2021-04-11_17.06.09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  max-width: 100%;
  transition: all 0.2s ease;

  @include media-breakpoint-down(sm) {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 40px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.12);
    transform: scale(1.05) translate3d(0px, -10px, 0px);
  }
}

.description {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid #eaeaea;
  font-size: 1rem;
  line-height: 1.7;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 96px 0 24px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  p {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }
  button {
    text-transform: capitalize;
    margin-left: 48px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    font-weight: bold;
    height: 50px;
    padding: 0 25px;
    font-size: 1rem;
    min-width: 200px;
    color: #fff;
    background-color: #0070f3;
    border: 1px solid #0070f3;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-top: 36px;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
      transform: translate3d(0px, -1px, 0px);
    }
  }
}
