@import "../styles/variables";
@import "../styles/mixin";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.625rem;
}

p {
  font-size: 1.75rem;
}

*,
:after,
:before {
  box-sizing: border-box;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

a {
  text-decoration: none;
}

a[role="button"],
button {
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
  transition: all 0.3s ease;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
